/* General styles */
body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background-color: #F9F9F9;
  color: #333;
}

li {
  list-style-type: none;
}

h2 {
  font-size: 2rem;
  color: #3F51B5;
}

#root {
  display: flex;
  max-width: 1200px;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 10px;
  margin:auto;
  /* box-shadow: 0 0 10px rgba(0,0,0,0.1); */
  min-height: 100dvh
}

.title{
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
  width: 100%;
}

.main-container {
  display: flex;
  width: 90%;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  border-radius: 10px;
  overflow: hidden;
}

.main {
  width: 100%;
  padding: 1em;
}

.home{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.home-content{
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.5em;
  width: 60%;
}

.home-img{
  max-height: 500px;
  width: 30%;
}

.img {
  height: 100%;
  border-radius: 10px;
}

.story {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: 10px;
  place-items: start;
  width: 100%;
}

.story-item {
  padding: 0.25em;
}

.story-item:last-child {
  grid-column-start: 1;
  grid-column-end: 3;
}

.story-item:last-child > h3 {
  text-align: center;
}

.story-paragraph {
  text-indent: 5%;
  padding: 1em;
}

.story-img {
  width: 100%;
  border-radius: 10px;
}

/* Navigation */
nav {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 1em;
  align-items: start;
  padding: 1em;
}

nav button, a button{
  background-color: transparent;
  color: #3F51B5;
  font-size: 16px;
  padding: 10px 22px;
  border: 2px solid #3F51B5;
  width: 100%;
  cursor: pointer;
  transition: background-color 0.4s ease, color 0.4s ease;
  border-radius: 5px;
}

nav button:hover, a button:hover {
  background-color: #3F51B5;
  color: #ffffff;
  transition: background-color 0.4s ease, color 0.4s ease;
}

.donate {
  background-color: #3F51B5;
  color: #ffffff;
  font-size: 16px;
  padding: 10px 22px;
  border: 2px solid #3F51B5;
  width: 100%;
  cursor: pointer;
  transition: background-color 0.4s ease, color 0.4s ease;
  border-radius: 5px;
}

.donate:hover {
  background-color: transparent;
  color: #3F51B5;
  transition: background-color 0.4s ease, color 0.4s ease;
}

header{
  width: 100%;
  padding: 1em;
  text-align: center;
  color: #3F51B5;
}
.flex-wrapper {
  display: flex;
  flex-direction: column;
}
.donate {
  align-self: center;
}


@media only screen and (max-width: 1024px) {
  #root {
    width: 100%;
  }

  .main-container {
    flex-direction: column;
  }

  .home {
    flex-direction: column;
  }

  .home-content {
    width: 100%;
  }

  .home-img {
    width: 100%;
    max-height: none;
  }

  .story {
    grid-template-columns: 1fr;
  }
  .story-item:last-child {
    grid-column-start: 1;
    grid-column-end: 2;
  }
  .img {
    display: none;
  }
}

/* Mobile */
@media only screen and (max-width: 480px) {
  body {
    font-size: 14px;
  }

  h2 {
    font-size: 1.5rem;
  }

  .main-container {
    width: 100%;
    padding: 10px;
  }

  nav button {
    font-size: 14px;
    padding: 8px 16px;
  }
}

